.header__paragraph {
    font-family: $inconsolata;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: -4px;
    text-transform: uppercase;
    margin-left: 2rem;
    @include tablet {
        font-size: 1.5rem;
        letter-spacing: -1.5px;
    }
    @include laptop {
        margin-left: 3rem;
    }
}

.main {
    font-family: $spacemono;
    &__header {
        font-size: 2.5rem;
        margin-left: 1.5rem;
        line-height: 4rem;
        color: #333;
        @include tablet {
            margin-bottom: 1rem;
        }
        @include laptop {
            width: 65%;
            font-size: 2.8rem;
        }
    }

    &__paragraph {
        width: 90%;
        line-height: 1.5rem;
        font-weight: lighter;
        margin-left: 1.5rem;
        margin-bottom: 2rem;
        color: #4F4F4F;
        @include tablet {
            width: 60%;   
        }
        @include laptop {
            font-size: 1.2rem;
            width: 50%;
            line-height: 1.8rem;
            margin-bottom: 2.8rem;
            margin-top: 2rem;
        }
        @include desktop-md {
            line-height: 2.3rem;
        }
    }

    &__button {
        &--link {
            text-decoration: none;
            color: white;
            text-transform: uppercase;
            font-size: 0.9rem;
            font-weight: 600;
            @include tablet {
                font-size: 0.6rem;
            }
            @include laptop {
                font-size: 0.7rem;
            }
            @include desktop-md {
                font-size: 0.9rem;
            }
        }
    }
}