.header__paragraph {
    font-family: $inconsolata;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: -4px;
    text-transform: uppercase;
    margin-left: 2rem;
}

.main {
    font-family: $spacemono;
    &__header {
        font-size: 2.5rem;
        font-weight: bolder;
        margin-left: 1.5rem;
        line-height: 4rem;
        color: #333;
    }

    &__paragraph {
        width: 90%;
        line-height: 1.5rem;
        font-weight: lighter;
        margin-left: 1.5rem;
        margin-bottom: 4rem;
        color: #4F4F4F;
    }

    &__button {
        &--link {
            text-decoration: none;
            color: black;
            text-transform: uppercase;
        }
    }
}